@import "../../bower_components/susy/sass/_susy.scss";
@import "../../bower_components/sassy-maps/sass/_sassy-maps.scss";
@import "../../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";
@import "../../bower_components/compass-sass-mixins/lib/_compass.sass";
@import "fonts";
@import "variable";
@import "base";
@import "fontawesome/fontawesome.scss";

.body-wrapper {
  max-width: 1140px;
  margin: auto;
  background-color: #fff;
}

.col-left {
  @include span(6);
}

.col-right {
  @include span(6);
}

a {
  @extend .def-transition;
  text-decoration: none;
  display: inline-block;
  &:hover {
    text-decoration: none;
  }
}

.button {
  @include border-radius(6px);
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;

  &.button-red {
    background-color: $red;
    color: $white;
    &:hover {
      background-color: lighten($red, 10%);
    }
  }
  &.button-green {
    background-color: $green;
    color: $black3;
    &:hover {
      background-color: lighten($green, 10%);
    }
  }
}

.menu {
  border-bottom: 1px solid #ccc;

  @include container;
  background: none;
  padding: 20px 10px;

  a {
    color: #333;
    &:hover {
      color: $green;
    }
  }

  .col-left {
    text-align: left;
  }

  .logo-container {
    max-width: 100%;
    width: 200px;
    margin: 10px 25px;
    img {
      max-width: 100%;
    }
  }

  ul.menu-list {
    padding: 0px;
    margin: 0px 25px;
    li {
      display: inline-block;
      padding: 10px;
    }

  }
}

.banner {
  @include container;
  border-bottom: 1px solid #ccc;
  min-height: 400px;
  background: none;
  .col-right {
    @include background(url("/images/background-one.jpg"), no-repeat center center);
    @include background-size("cover");
    min-height: 400px;
  }
  .col-left {
    padding: 30px;
    h3 {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    p {
      text-align: justify;
    }
    a {
      margin: 5px;
    }
  }

}

.product-features {
  @include container;
  border-bottom: 1px solid #ccc;
  background: none;
  padding: {
    top: 40px;
    bottom: 70px;
  }
  h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
  }
  .product-feature {
    @include span(2);
    text-align: center;
    img {
      margin-bottom: 10px;
    }
  }
}

.video-section {
  @include container;
  background: none;
  min-height: 400px;
  .col-right {
    min-height: 400px;
    @include background(url("/images/video-background.jpg") no-repeat center center);
    @include background-size("cover");
    a {
      @extend .def-transition;
      width: 100%;
      height: 100%;
      display: block;
      min-height: 400px;
      position: relative;

      .icon-container {
        height: 80px;
        width: 80px;
        display: inline-block;
        position: absolute;
        top: calc(50% - 40px);
        left: calc(50% - 40px);
        i {
          @extend .def-transition;
          color: $green;
          font-size: 80px;
        }
      }
      &:hover {
        .icon-container {
          i {
            color: $white;
          }
        }
      }
    }
  }
  .col-left {
    padding: 70px 50px 30px;
    h3 {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 30px;
      color: $green;
    }
    p {
      text-align: justify;
    }
  }
}

.left-content-section {
  @include container;
  background: none;
  min-height: 400px;
  .col-right {
    min-height: 400px;
  }
  .col-left {
    padding: 70px 50px 30px;
    h3 {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 30px;
      color: $green;
    }
    p {
      text-align: justify;
    }
  }
}

.right-content-section {
  @include container;
  background: none;
  min-height: 400px;

  .col-right {
    padding: 70px 50px 30px;
    h3 {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 30px;
      color: $green;
    }
    p {
      text-align: justify;
    }
  }
  .col-left {
    min-height: 400px;

  }
}

.section-one-background {
  @include background(url("/images/section-one-background.jpg") no-repeat center center);
  @include background-size("cover");
}

.section-two-background {
  @include background(url("/images/section-two-background.jpg") no-repeat center center);
  @include background-size("cover");
}

.section-three-background {
  @include background(url("/images/section-three-background.jpg") no-repeat center center);
  @include background-size("cover");
}

.support-section {
  @include container;
  background: none;
  background-color: $black3;
  border-bottom: 1px solid #777;
  color: $white;
  overflow: hidden;
  .col-right {
    padding: 30px;
    height: 100%;

  }
  .col-left {
    padding: 30px;
    height: 100%;

  }
  .col-content {
    width: calc(100% - 80px);
    margin-right: 10px;
    float: right;
    h3 {
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 30px;
      color : #ccc;
    }
    p {
      text-align: justify;
      color : #ccc;
    }
  }

  img {
    margin-top: 10px;
    float: right;
  }
}

.footer-section {
  @include container;
  background: none;
  background-color: $black3;
  color: $white;
  overflow: hidden;
  .col-right {
    padding: 30px;

  }
  .col-left {
    padding: 30px;

  }
  h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
    color : #999;
  }
  p {
    font-size: 14px;
    text-align: justify;
    color : #999;
  }
  .footer-icon-container{
    ul{
      padding : 5px;
      li{
        margin-right: 8px;
        display: inline-block;
        a{
          color : #999;
          i{
            font-size:40px;
          }
          &:hover{
            color: $white;
          }
        }
      }
    }
  }
  .footer-menu-container {
    @include container;
    background: none;
    .footer-menu {
      margin-top : 20px;
      @include span(4);
      ul {
        padding : 10px;
        li {
          a{
            color : #999;
            &:hover{
              color : $white;
            }
          }
        }
      }
    }
  }

}
